*{
    padding: 0;
    margin: 0;
    color: #fff;
    box-sizing: border-box;
}
.topbar-nav-items{
    width: 30px;
    margin: 0 13px;
}
.usericonsmall{
    width: 30px;
    margin-left: 13px;
}

.container,
.landingpage{
    background-color: #000;
    height: 100vh;
}
/* .landingpage{
    background: #000;
} */
.topbar{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
    border-bottom: 0.2px solid #4a4a4b;
    height: 20vh;
}
.landingpage-topbar{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
    height: 20vh;
}
.topbar-logo{
    flex: 1;
}
.topbar-logo img{
    width: 18%;
}
.topbar-nav button{
    background-color: #34A853;
    padding:10px 30px;
    border-radius: 30px;
    outline: none;
    border: none;
}
.topbar-nav{
    flex: -1;
    display: flex;
    align-items: center;
    justify-self: center;
}

.dashboard{
    height: 80vh;
    position: relative;
    overflow: hidden;
}
.main{
position: absolute;
bottom: -50px;
left: -70px;
}
.main-right{
    position: absolute;
    top: 50px;
    right: -40px;   
}
.main-right img ,
.main img{
    height: 50vh;   
}
.landingpage .main{
bottom: -150px;
}
.landingpage .main-right{
    top: 200px;
}
.sidebar{
    position:absolute ;
    top: 0;
    width: 20%;
    height:79.8vh;
    border-right:1px solid #4a4a4b ;
    padding: 30px 0;
    flex: 1;
    /* z-index:-1; */
    background-color: #000;
    display: block;
}
.username{
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 20px;
    margin-right: 40px ;
}
.username div{
    margin-left: 5px;
}
.username h3{
    letter-spacing:1px;
}
.username p{
    font-size: 12px;
    color: #34A853;
}
.username img{
    width: 50px;
}
.stats{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px ;
}
.stats div{
    margin: 0 5px;
    text-align: center;
}
.stats p{
    color: #4a4a4b;
    font-size: 15px;
}
.sidebar-nav{
    margin: 40px 30px 0 0;
    /* border: 1px solid; */
}
.sidebar-nav li{ 
    list-style: none;
}
.navbar{
    display:flex;
    align-items: center;
    width: 100%;
    margin: 20px;
    font-size: 13px;
    border-radius: 8px;
    padding: 2px 12px;
    /* border: 1px solid; */
}
.navbar a{
    text-decoration: none;
}

.navbar:hover{
    background: #2a753e;
}
.nav a:active{
    background: #2a753e;
}
/* .navbar:active */

.nav{
    display: flex;
    align-items:flex-end;
    flex: 1;
    
}

 .nav a, .nav h4{
    margin-left: 10px;
    text-decoration: none;
}
.drop{
    flex: -1;
    cursor: pointer;
}
.home,
.library{
position: absolute;
top: 5%;
left: 30%;
width: 50%;
}
.search{
    border: 1px solid #fff;
    border-radius: 20px;
    padding: 8px 10px;
    width: 100%;
    text-align: center;
    color: #34A853;
    display: flex;
}
.search img,
.title img{
    width: 20px;
    margin-right: 10px;
}
.search input{
    background: transparent;
    border: none;
    outline: none;
    color: #34A853;
    width: 100%;
    text-align:left;
}
.Question-section{
    margin: 30px;
}
.Question-section h4,
.library-items h3{
    margin: 8px 0;
}
.Question-section p{
    font-size: 14px;
}
.colored-text{
    color: #34A853;
}
.ask{
    background-color: #2a753e;
    margin: 10px 0;
    padding: 5px;
    font-size: 13px;
    border-radius: 10px;
    display: inline-block;
}
.question-box{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.question{
    margin-left: 5px;
}
.question-dets{
    font-size: 12px;
    color: #7f7c7c;
    line-height: 20px;
}
.selected{
    display: flex;
    align-items:center;
    background-color: #34a853;
    text-align:left;
    margin: 10px 0;
    padding: 5px  10px;
    font-size: 14px;
    width: 100%;
    opacity: 0.7;
    border-radius: 10px;
    cursor: pointer;
}
.title{
    flex: 1;
}
.cancel{
    flex: -1;
    
    padding-right: 10px;
}
.cancel img
{
    width: 50%;
}
.add{
    border: 1px solid #fff;
    padding: 10px;
    border-radius: 20px;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
}
.library-item{
    margin:30px 0 ;
    
}
.library-item h3{
    font-size: 12px;
}
.topbar-nav a{
    text-decoration: none;
}
.login{
    padding: 10px;
    color: #2a753e;
    background: transparent;
    border: 1px solid #2a753e;
    border-radius: 20px;
    margin-right: 10px;
}
.signin{
    padding: 10px;
    color: #fff;
    background: #34a853;
    border-radius: 20px;
}

